tr {
    height: 40px;
    margin-left: 0 10px;
    position: relative;
}

td {
    left: 25px;
    position: relative;
}

td select,
td input {
    width: 140px;
    border: 2px blue solid;
    height: 24px;
    font-size: 18px;
}

label {
    display: block;
}

.error input,
.error textarea {
    border: 1px solid red;
}

.error {
    color: red;
}

textarea {
    resize: none;
    border: 1px blue solid;
    margin: 0 auto;
}

button {
    border-radius: 5px;
    color: #fff;
    background-color: #00ff78;
    padding: 6px;
    text-transform: uppercase;
    cursor: pointer;
}

.form_wrap {
    width: 700px;
    height: 900px;
    border: 1px solid red;
    margin: 0 auto;
    font-size: 18px;
}

.window_wrap {
    padding: 15px;
}

.container {
    min-height: 370px;
    border: 2px solid green;
}

.number_list,
.btn_save_list,
.type_of_list,
.type_list,
.type_list_ul,
.type_list_ol,
.alert_wrong {
    display: none;
}

.pop_ap {
    width: 300px;
    height: 250px;
    border: 2px solid green;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 9999;
    display: none;
    background-color: #c5c5c5;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #000;
}

.wrap_input {
    position: relative;
    width: 300px;
    height: 250px
}

.wrap_input h2 {
    text-align: center;
    line-height: 16px;
    margin: 10px;
    padding: 10px;
}

.wrap_input h4 {
    top: 57%;
    position: relative;
    text-align: center;
    color: red;
    text-transform: uppercase;
}

#input_password {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 8%;
    width: 66%;
    margin: -16% 0 0 -32%;
    border: 2px solid green;
}

.wrap_popap {
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    overflow: hidden;
    position: fixed;
    top: 0px;
    left: 0;
    display: none;
}

.btn_unlock {
    position: absolute;
    bottom: 34%;
    left: 37%;
    padding: 7px 14px;
    text-transform: uppercase;
    border-radius: 9px;
    border: 2px solid blue;
    background-color: #36ab62;
    cursor: pointer;
}

.btn_validate {
    top: 20px;
    right: -36%;
    position: relative;
}

.btn_password_open,
.btn_password_open2 {
    background-color: #0054ff;
    padding: 2px;
    font-size: 12px;
    text-transform: lowercase;
}

.btn_block {
    position: fixed;
    left: 5%;
    top: 14%;
    padding: 12px;
    font-size: 25px;
    background-color: #ff0011;
}

.btn_block:hover {
    background-color: #ad0023;
}

.btn_list_add {
    position: relative;left: 40%;
    margin-top: 29px;
}

.window {
    position: absolute;
    right: 16%;
    font-size: 18px;
    text-transform: uppercase;
}

input#number_list {
    margin: 15px 0;
}